body * {
   width: 100%;
   /* //box-sizing: border-box; */
}
body {
   margin: 0;
}
.nav {
   background-color: #CAD5E3;
   position: -webkit-sticky;  /*for safari*/
   position: sticky;
}
/* .container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-row-gap: 50px;
   grid-column-gap: 40px;
   grid-template-areas:
      "a b c d"
      "e f g h"
      "i j k l"; 
   min-height: 100vh;
} */
main {
   display: flex;
   /* justify-content: center;
   align-items: center; */
}
ul {
   width: 100%;
   height: 20%;
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   overflow: hidden;

   top: 0;
   background-color: #CAD5E3;
   display: inline;
}
ul text{
   text-align: left;
   font-size: 40px;
   font-family: 'Bodoni Moda', serif;
   background-color: #CAD5E3;
   padding-left: 20px;
   padding-right: 15px;
}
ul li {
   /* TO DO: FIGURE OUT HOW TO GET NAV TO STICK TO TOP */
   top: 0; 
   width: auto;
   text-align: right;
   float: right;
   padding-top: 15px;
   padding-bottom: 15px;
   font-family: 'Abril Fatface', cursive;
   background-color: #CAD5E3;
}
li a {
   /* font color */
   color: slategrey; 
   background-color: #CAD5E3;
   padding: 19px;
   text-decoration: none;
   font-size: 20px;
}
li a:hover {
   background-color: white;
}
/* .active {
   background-color: white;
 } */
.about{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-row-gap: 0px;
   grid-column-gap: 0px;
   grid-template-areas:
      "a b"
      "a c";
   min-height: 100vh;
   background-color: aliceblue;
}
#mepic{
   grid-area: a;
   padding-top: 100px;
   padding-left: 200px;
   width: 350px;
   height: 350px;
   float: right;
}
.about h1 {
   padding-top: 100px;
   grid-area: b;
   font-family: 'Abril Fatface';
}
.about p{
   padding: 0px;
   grid-area: c;
   width: 80%;
   font-family: 'Montserrat';
   color: lightslategray;
}





/* attempt at changing the media query for less than 600 px */
/* couldn't figure out why sidebar, "f" kept showing up :( */
/* @media screen and (max-width: 768px) {
   .container {
      color: white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 2fr 2fr;
      grid-template-areas:
         "a ."
         "b b"
         "c c"
         "d d"
         "e e";
   }
} */


/* @media screen and (max-width: 900px) and (min-width: 600px) {
   .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1.5fr 2fr 5fr 5fr 5fr;
      grid-template-areas:
         "a b"
         "f f"
         "c d"
         "e e"
         "g g";
   }
} */

/* @media only screen and (max-width: 500px) and (min-width: 0px) {
   .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1.5fr 2fr 5fr 5fr 5fr 5fr;
      grid-template-areas:
         "a"
         "b"
         "c"
         "d"
         "e"
         "g";
   }
   .aside {
      display: none;
   }
} */

