body * {
   width: 100%;
   box-sizing: border-box;
   font-family: 'Arial';
}
body {
   margin: 0;
}
.container {
   color: aliceblue;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 5fr 5fr;
   grid-row-gap: 50px;
   grid-column-gap: 40px;
   grid-template-areas:
      "a . . b c d e"
      "f f f f f f f"
      "g g g g g g g";
   min-height: 100vh;
}
nav, main {
   display: flex;
   /* justify-content: center;
   align-items: center; */
}

/* top menu */
.menu{ background: skyblue }
.menu1{
   grid-area: a;

}
.menu2{
   grid-area: b;

}
.menu3{
   grid-area: c;

}
/* .section{
   grid-area: c;
   background: gray;
} */


/* attempt at changing the media query for less than 600 px */
/* couldn't figure out why sidebar, "f" kept showing up :( */
@media screen and (max-width: 768px) {
   .container {
      color: white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 2fr 2fr;
      grid-template-areas:
         "a ."
         "b b"
         "c c"
         "d d"
         "e e";
   }
}


@media screen and (max-width: 900px) and (min-width: 600px) {
   .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1.5fr 2fr 5fr 5fr 5fr;
      grid-template-areas:
         "a b"
         "f f"
         "c d"
         "e e"
         "g g";
   }
}

@media only screen and (max-width: 500px) and (min-width: 0px) {
   .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1.5fr 2fr 5fr 5fr 5fr 5fr;
      grid-template-areas:
         "a"
         "b"
         "c"
         "d"
         "e"
         "g";
   }
   .aside {
      display: none;
   }
}

